#
# database source directory
#

/database_src/

#
# backup, build, and release directories
#

/backups/
/release/
/build/

#
# work directory
#

/work/

#
# GitHub docs related
#

/docs/Gemfile
/docs/Gemfile.lock
/docs/_site/

#
# eof
#
