/*

    HTML Style Sheet

*/


/*

  emphasize contents code

*/


div.contents code
{
  font-weight: bold;
  font-size: 1.10em;
}


/*

  table

*/

/* use fixed size for amuBuildInfo */
table.amuBuildInfo
{
  table-layout: auto;
  width: 75%;
}

/* margins */
table.amuTable,
table.amuImageTable,
table.amuValidate,
table.amuBuildInfo,
table.doxtable,
table.markdownTable
{
  border-collapse:collapse;
  margin-right:auto;
  margin-top: auto;
  margin-bottom: auto;
}

/* table boarders */
table.amuTable td,      table.amuTable th,
table.amuImageTable td, table.amuImageTable th,
table.amuValidate td,   table.amuValidate th,
table.amuBuildInfo td,  table.amuBuildInfo th,
table.doxtable td,      table.doxtable th,
table.markdownTable td, table.markdownTable th
{
  border: 1px solid #2D4068;
  padding: 3px 7px 2px;
}

/* table headings */
table.amuTable th,
table.amuImageTable th,
table.amuValidate th,
table.amuBuildInfo th,
table.doxtable th,
table.markdownTable th
{
  background-color: #374F7F;
  color: #FFFFFF;
  font-size: 110%;
  padding-bottom: 4px;
  padding-top: 5px;
}

/* alternate table row background colors */
table.amuTable tr:nth-child(odd) td,
table.doxtable tr:nth-child(odd) td,
table.markdownTable tr:nth-child(odd) td
{
  background-color: #F7F8FB;
}

/* center columns 2 and 3 in amuBuildInfo */
table.amuBuildInfo td:nth-child(2),
table.amuBuildInfo td:nth-child(3)
{
  text-align: center;
}

/*

  table links: link, visited, hover, active

*/

table.amuTable th a,
table.amuImageTable th a,
table.doxtable th a,
table.markdownTable th a
{ color: white; }

table.amuTable th a:visited,
table.amuImageTable th a:visited,
table.doxtable th a:visited,
table.markdownTable th a:visited
{ color: lightgray; }

table.amuTable th a:hover,
table.amuImageTable th a:hover,
table.doxtable th a:hover,
table.markdownTable th a:hover
{ color: gray; }

table.amuTable th a:active,
table.amuImageTable th a:active,
table.doxtable th a:active,
table.markdownTable th a:active
{ color: black; }


/* eof */
