/*

    html_styles.css

*/

table.doxtable {
  border-collapse:collapse;
  /* margin-left:auto; */
  margin-right:auto;
  margin-top: 4px;
  margin-bottom: 4px;
}

table.doxtable td, table.doxtable th {
  border: 1px solid #2D4068;
  padding: 3px 7px 2px;
}

table.doxtable th {
  background-color: #374F7F;
  color: #FFFFFF;
  font-size: 110%;
  padding-bottom: 4px;
  padding-top: 5px;
}

/* table link styling */
table.doxtable th a         { color: white; }
table.doxtable th a:visited { color: lightgray; }
table.doxtable th a:hover   { color: gray; }
table.doxtable th a:active  { color: black; }

table.doxtable tr:nth-child(odd) td {
  background-color: #F7F8FB;
}

/*
table.doxtable tr:nth-child(even) td {
  background-color: #F7F8FB;
}
*/
